body {
    background-color: rgba(55, 86, 225, 0.755);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  div {
    border: 1px solid #02f;
    padding: 5px;
    border-radius: 10px;
    margin: 15px;
    font-size: 24px;
  }
   
  button{
      border: 3px solid #00f;
      border-radius: 12px;
      font-size: 24px;
      margin: 15px;
      padding: 5px;
      background-color: #C4D7E0;
  }
   
  input{
      width:75px;
      padding:5px;
      box-sizing: border-box;
      font-size: 20px;
  }
   
  #container{
      width: 900px;
   
  }
   
  #resposta{
       width: 400px;
  }
  .titulo{
      background-color: #B2C8DF;
      color: white;
      font-size: 36px;
  }
   
  .texto{
      margin: 15px;
  }
   